<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid text-center">
    <h1 class="text-white">Описание игры</h1>
    <h2 class="text-white"> [[${product.description}]]</h2>
    <a th:href="@{/product}">Обратно к играм</a>
    <footer th:insert="decoration/footer.html :: footer"></footer>
</div>
</body>
<style>
    body{
        background-image: url("[[@{/img/720475.jpg}]]");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
</html>