<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid text-center">
    <h1>Изменить информацию об игре</h1>

    <form method="post" enctype="multipart/form-data" th:action="@{/product/update}" th:object="${product}">
        <div class="container" >
            <div class="row align-items-start">
                <label for="hidden-id"></label>
                <input th:field="*{id}" id="hidden-id" type="number" hidden/>
        <div class="col-sm-2">
        <label class="text-light" for="previewImag">Изображение игры</label>
        <input id="previewImag" name="previewImag" type="file" class="form-control"/>
        </div>
        <div class="col-sm-2">
        <label class="text-light" for="input-name">Имя:</label>
        <input th:field="*{name}" id="input-name" type="text" class="form-control"/>
        </div>
        <div class="col-sm-2">
        <label class="text-light" for="input-name">Производитель:</label>
        <input th:field="*{manufacturer}" id="input-manufacturer" type="text" class="form-control"/>
        </div>
        <div class="col-sm-1">
        <label class="text-light" for="input-name">Цена:</label>
        <input th:field="*{price}" id="input-price" type="number" class="form-control"/>
        </div>
        <div class="col-sm-1">
        <label class="text-light" for="input-name">Описание:</label>
        <input th:field="*{description}" id="input-description" type="text" class="form-control"/>
        </div>
        <div class="col-sm-2">
        <label class="text-light" for="input-name">Дата выхода:</label>
        <input th:field="*{dateGod}" id="input-dateGod" type="date" class="form-control"/>
        </div>
                <div class="col-sm-1">
                    <label for="input-name"></label>
                    <button class="btn btn-success">Сохранить</button>
                </div>
                <div class="col-sm-1">
                    <label for="input-name"></label>
                    <a class="btn btn-danger" th:href="@{/product}">Отменить</a>
                </div>
        </div>
        </div>
    </form>

    <footer th:insert="decoration/footer.html :: footer"></footer>
</div>
</body>
<style>
    body{
        background-image: url("[[@{/img/9l.webp}]]");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
</html>