<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>Title</title>
</head>
<body>

<div class="container-fluid text-center">
    <h1>Изминить клиента</h1>

    <form method="post" th:action="@{/client/update}" th:object="${client}">
        <label for="hidden-id"></label>
        <input th:field="*{id}" id="hidden-id" type="number" hidden/>

        <label for="input-name">Имя</label>
        <input th:field="*{name}" id="input-name" type="text"/>

        <label for="input-login">email</label>
        <input th:field="*{login}" id="input-login" type="text"/>

        <label for="input-password">account</label>
        <input th:field="*{password}" id="input-password" type="text"/>

        <button class="btn btn-success">Сохранить</button>
        <a class="btn btn-danger" th:href="@{/client}">Отменить</a>
    </form>

    <h3>
        <a th:href="@{/client}">Назад к клиентам</a>
    </h3>

</div>
<footer th:insert="decoration/footer.html :: footer"></footer>
</body>
</html>